{% extends "template.html" %}
{% block content %}

<div class="card">
    <div class="card-header">
        <div class="row">
            <div class="col-4">
                <h5 class="mb-0">Empresas</h5>
            </div>

            <div class="col-8 text-end">
                <a class="btn btn-outline-light btn-sm" type="button" href="/companies/add">Crear empresa</a>
            </div>
        </div>
    </div>

    <div class="card-body">
        <div class="data-table">
            <table class="table table-sm table-borderless table-striped">
                <thead class="thead-dark">
                    <tr>
                        <th scope="col">Empresa</th>
                        <th scope="col">DNI / CIF</th>
                        <th scope="col" class="optional">Fecha de creación</th>
                        <th scope="col" class="optional">Fecha de modificación</th>
                        <th scope="col" class="optional">Total de ingresos</th>
                        <th scope="col" class="optional">Total de gastos</th>
                        <th scope="col" class="optional">Ciudad</th>
                        <th scope="col" class="optional">Pais</th>
                        <th scope="col"></th>
                    </tr>
                </thead>
                <tbody>
                    {% for company in companies %}
                        <tr>
                            <td>
                                <small class="fw-lighter fst-italic">#{{company.0.id}}</small> - {{company.0.name}}
                                {% if company.0.email %}<br><small class="fw-bold fst-italic"><a href="mailto:{{company.0.email}}">{{company.0.email}}</a></small>{% endif %}
                            </td>
                            <td>
                                <a target="_black" href="http://www.infocif.es/general/empresas-informacion-listado-empresas.asp?Buscar={{company.0.dni_cif}}">{{company.0.dni_cif}}</a>
                            </td>
                            <td class="optional">{{company.0.date.strftime("%d/%m/%Y")}}</td>
                            <td class="optional">{{company.0.modification_date.strftime("%d/%m/%Y")}}</td>
                            <td class="optional">{{company.1|round(2, 'floor')}}€</td>
                            <td class="optional">{{company.2|round(2, 'floor')}}€</td>
                            <td class="optional">{{company.0.city}}</td>
                            <td class="optional">{{company.0.country}}</td>
                            <td>
                                <button class="btn btn-outline-secondary" type="button" data-bs-toggle="dropdown" aria-expanded="false">...</button>
                                <ul class="dropdown-menu">
                                    <li>
                                        <a class="dropdown-item" href="/companies/view/{{company.0.id}}">Ver</a>
                                    </li>
                                    <li>
                                        <a class="dropdown-item" href="/companies/edit/{{company.0.id}}">Editar</a>
                                    </li>
                                    <li>
                                        <a class="dropdown-item text-danger" href="/companies/delete/{{company.0.id}}">Borrar</a>
                                    </li>
                                </ul>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

    <div class="card-footer">
        <div class="row align-items-center justify-content-center">
            <div class="col-auto">
                <nav>
                    <ul class="pagination pagination-sm">
                        {% for number in range(1, maxpage + 1) %}
                            <li class="page-item {% if number == page %}active{% endif %}">
                                <a class="page-link" href="/companies/{{number}}">{{number}}</a>
                            </li>
                        {% endfor %}
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</div>

{% endblock %}