<!doctype html>
<html lang="es">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
    <link href="/static/style.css" rel="stylesheet">

    <title>Contabimo</title>
  </head>
  <body>
    <div class="container-fluid">

        <nav class="navbar navbar-light navbar-glass navbar-top sticky-kit navbar-expand-lg">
            <a class="navbar-brand mr-1 mr-sm-3" href="/">
                <div class="d-flex align-items-center">
                    <img class="mr-2" src="/static/logo.png" alt="Contabimo" width="40">
                    <span class="text-sans-serif">Contabimo</span>
                </div>
            </a>

            <div class="collapse navbar-collapse">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" href="/companies" role="button">Empresas</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#" role="button">Facturas</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#" role="button">Presupuestos</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#" role="button">Analítica</a>
                    </li>
                </ul>
            </div>
        </nav>

        <div class="content mt-4">
            {% with messages = get_flashed_messages() %}
                {% if messages %}
                    <div class="container-fluid">
                        {% for message in messages %}
                            <div class="alert alert-success" role="alert">{{ message }}</div>
                        {% endfor %}
                    </div>
                {% endif %}
            {% endwith %}
            
            {% block content %}{% endblock %}
        </div>

    </div>

    <script async defer src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script async defer src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js" integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0" crossorigin="anonymous"></script>
  </body>
</html>